.scroller {
    --sb-track-color: #a8dadc;
    --sb-thumb-color: #3b7080;
    --sb-size: 7px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.scroller::-webkit-scrollbar {
    width: var(--sb-size)
}

.scroller::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}

.scroller::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;

}

.scroller::-webkit-scrollbar-button:start:increment {
    height: 2%;
    display: block;
    background: transparent;
}

.scroller::-webkit-scrollbar-button:end:increment {
    height: 2%;
    display: block;
    background: transparent;
}

@supports not selector(::-webkit-scrollbar) {
    .scroller {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}